.preloader {
    @include flex-justify-align;
    @include flex-column;
    gap: 20px;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    background-color: $extra-color-two;
    position: fixed;

    .preloader-icon {
        position: relative;

        img{
            width: 100px;
            height: 100px;
        }
    }

    .preloader-text{
        @include d-flex;
        p{   
            color: $extra-color-five;
            margin-bottom: 0;
            font-size: 46px;
            line-height: 1.1em;
            font-weight: 700;
            text-transform: capitalize;
            @include animation(fadeinone 3s ease-in-out infinite);

            @include maxQuery(991) {
                font-size: 36px;
            }

            @include maxQuery(767) {
                font-size: 26px;
            }
            &:nth-child(1){
                @include animation-delay(0.2s);
            }
            &:nth-child(2){
                @include animation-delay(0.3s);
            }
            &:nth-child(3){
                @include animation-delay(0.4s);
            }
            &:nth-child(4){
                @include animation-delay(0.5s);
            }
            &:nth-child(5){
                @include animation-delay(0.6s);
            }
            &:nth-child(6){
                @include animation-delay(0.7s);
            }
            &:nth-child(7){
                @include animation-delay(0.8s);
            }
        }
    } 
}