.cta-section {
    &-1 {
        background: linear-gradient(270deg, rgba(32, 41, 110, 0) 0%, $extra-color-five 90%), url("../../assets/images/cta/cta-bg-1-1.jpg") no-repeat;
        background-position: center center;
        background-size: cover;
        z-index: 1;
        @include maxQuery(991) {
            background-position: 60% center;
        }

        .cta-content {
            .section-title {
                .sub-title {
                    background-color: $white-color;
                }

                h2 {
                    color: $white-color;
                }

                p {
                    color: $white-color;
                }
            }

            .cta-button-wapper {
                @include d-flex;
                @include align-items-center;
                @include flex-wrap;
                gap: 15px 20px;

                .style-4 {
                    i {
                        @include transform(rotate(0));
                    }
                }
            }
        }

        .cta-video-wapper {
            position: relative;
            @include flex-justify-align;
            height: 100%;
            width: 100%;

            @include maxQuery(991) {
                margin-top: 30px;
                margin-bottom: 100px;
            }

            .video-play {
                width: 100px;
                height: 100px;
                background-color: $white-color;
                color: $black-color;
                font-size: 24px;
                z-index: 1;
                margin: auto;
                position: relative;
                @include border-radius(100%);
                @include flex-justify-align;
                @include animation(spineer2 2s infinite);

                @include maxQuery(540) {
                    width: 80px;
                    height: 80px;
                    font-size: 18px;
                }
            }
        }
    }

    &-2 {
        background-color: $extra-color-five;
        z-index: 1;

        .cta-content {
            @include maxQuery(991) {
                margin-bottom: 40px;
            }

            .section-title {
                .sub-title {
                    background-color: $white-color;
                }

                h2 {
                    color: $white-color;
                }

                p {
                    color: $white-color;
                }
            }

            .cta-button-wapper {
                @include d-flex;
                @include align-items-center;
                @include flex-wrap;
                gap: 15px 20px;

                .style-4 {
                    i {
                        @include transform(rotate(0));
                    }
                }
            }
        }

        .cta-image{
            figure{
                display: block;
                height: 100%;
                @include border-radius-three;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    &-3 {
        .cta-wapper {
            background-repeat: no-repeat;
            background-position: left bottom;
            background-size: contain;
            background-color: $primary-color;
            padding: 100px;
            @include border-radius-three;

            @include maxQuery(1199) {
                padding: 80px;
            }

            @include maxQuery(767) {
                padding: 50px;
            }

            @include maxQuery(576) {
                padding: 30px;
            }

            .cta-content {
                .section-title {
                    @include maxQuery(991) {
                        text-align: center !important;
                    }

                    h2 {
                        color: $white-color;
                    }

                    p {
                        color: $white-color;
                    }
                }
            }

            .cta-form {
                position: relative;

                .cta-shape {
                    position: absolute;
                    top: -100px;
                    left: -150px;
                    @include animation(move-bottom 5s linear infinite);

                    @include maxQuery(1399) {
                        left: -60px;
                    }

                    @include maxQuery(991) {
                        display: none;
                    }
                }

                form {
                    .form-group {
                        .form-control {
                            background-color: $white-color;
                        }

                        button {
                            position: absolute;
                            bottom: 0;
                            right: 4px;
                            top: 3px;

                            i {
                                @include transform(rotate(0));
                            }

                            span {
                                @include maxQuery(767) {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}