.video-section {
    background-position: center;
    background-size: cover;
    z-index: 1;
    padding-bottom: 320px;

    &::before {
        content: '';
        height: 100%;
        width: 100%;
        background-color: $black-color;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0.5;
    }

    .video-content {
        .section-title {
            h2 {
                color: $white-color;
            }

            p {
                color: $white-color;
            }
        }
    }

    .video-circle {
        @include maxQuery(991) {
            margin-top: 80px;
        }

        .video-play {
            width: 100px;
            height: 100px;
            background-color: $white-color;
            color: $black-color;
            font-size: 24px;
            z-index: 1;
            margin: auto;
            position: relative;
            @include border-radius(100%);
            @include flex-justify-align;
            @include animation(spineer2 2s infinite);

            @include maxQuery(540) {
                width: 80px;
                height: 80px;
                font-size: 18px;
            }

            
        }
    }
}